@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.header_text {
  font-family: 'Permanent Marker', cursive
}

.frame-border { 
  border:5px solid rgb(70, 64, 64); 
  }

  .maid-wrapper{
    width: 100%;
    padding-bottom: 10px;
  }

.slider-holder{
    width: 100%;
    padding-bottom: 10px;
    height: 60vh!important
  }

.carousel{
    height: 45vh!important
}

.video {
  padding: 10px;
}
 