body {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); 

  height: 500px;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: auto
}
.card {
  background-color: rgba(181, 181, 181, 50%);
  padding: 1em 0;
  margin: 0.5rem;
  min-height: 250px;
  min-width: 225px;
  flex-basis: 18%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}